<a href="https://colab.research.google.com/github/nachochipzz/Project-Submission/blob/main/n213-regularized-regression/n213a_regularized_regression_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 3*

# ğŸ“ Assignment
---

# ğŸŒ± **ê¸°ë³¸ ê³¼ì œ**

ì´ë²ˆì—ëŠ” ë…¸íŠ¸ì—ì„œ ë‹¤ë£¨ì§€ ì•Šì€ ìƒˆë¡œìš´ ë°ì´í„°ì¸ [Melbourne Housing Market](https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market#:~:text=calendar_view_week-,MELBOURNE_HOUSE_PRICES_LESS,-.csv)ì„ ì‚¬ìš©í•˜ì—¬ ì •ê·œí™”ë¥¼ ì—°ìŠµí•´ ë³´ê² ìŠµë‹ˆë‹¤.

In [130]:
!pip install category_encoders
!pip install scikit-learn==1.1.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.9/dist-packages (2.6.0)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.1.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn==1.1.3 in /usr/local/lib/python3.9/dist-packages (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (1.22.4)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (3.1.0)

## **Part 1. ë°ì´í„° ì¤€ë¹„**

### **1-1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬**

- ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
- ë‹¤ìŒ í•­ëª©ì„ ì œê±°í•˜ì„¸ìš”.
  - column
    - ë‚ ì§œ íŠ¹ì„±
    - ë²”ì£¼í˜• ë°ì´í„° ì¤‘ì—ì„œ ì¹´ë””ë„ë¦¬í‹°ê°€ 50ì´ ë„˜ëŠ” íŠ¹ì„±
  - row
    - Price ë³€ìˆ˜ ê¸°ì¤€ ê²°ì¸¡ì¹˜ ìƒ˜í”Œ
    - ì¤‘ë³µë˜ëŠ” ìƒ˜í”Œ

#### **Q1. ë‹¤ìŒ column ì¤‘ ë²”ì£¼í˜• ë°ì´í„°ê°€ ì•„ë‹Œ ê²ƒì„ ê³ ë¥´ì„¸ìš”.**
```
A. Address 
B. Rooms 
C. SellerG 
D. Postcode 
E. CouncilArea 
```
- ë‹µ : B. Rooms (ìˆ˜ì¹˜í˜• ìë£Œ)

In [131]:
import pandas as pd

# get data
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,"1,490,000.00",S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.00,Yarra City Council
1,Abbotsford,59A Turner St,3,h,"1,220,000.00",S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.00,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,"1,420,000.00",S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.00,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,"1,515,000.00",S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.50,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,"670,000.00",S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.40,Moonee Valley City Council

In [132]:
# ë‚ ì§œ íŠ¹ì„± drop
df.drop(columns='Date', inplace=True)

In [133]:
# ë²”ì£¼í˜• ë°ì´í„° ì¤‘ ì¹´ë””ë„ë¦¬í‹°ê°€ 50ì´ ë„˜ëŠ” íŠ¹ì„± í™•ì¸
df.nunique() #Suburb, Address, SellerG, Postcode ì¹¼ëŸ¼ drop

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3417
Method               9
SellerG            476
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [134]:
# ë²”ì£¼í˜• ë°ì´í„° ì¤‘ ì¹´ë””ë„ë¦¬í‹°ê°€ 50ì´ ë„˜ëŠ” íŠ¹ì„± drop
df.drop(columns=['Suburb', 'Address', 'SellerG', 'Postcode'], inplace=True)
df.head()

,Rooms,Type,Price,Method,Regionname,Propertycount,Distance,CouncilArea
0,3,h,"1,490,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
1,3,h,"1,220,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
2,3,h,"1,420,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
3,3,h,"1,515,000.00",S,Western Metropolitan,1543,7.50,Moonee Valley City Council
4,2,h,"670,000.00",S,Western Metropolitan,3464,10.40,Moonee Valley City Council

In [135]:
# Price ë³€ìˆ˜ ê¸°ì¤€ ê²°ì¸¡ì¹˜ ìƒ˜í”Œ drop
df.dropna(subset=['Price'], inplace=True)

In [136]:
# ì¤‘ë³µë˜ëŠ” ìƒ˜í”Œ drop
df.drop_duplicates(inplace=True)

### **1-2. Scaling & Encoding**
- ë°ì´í„° ë¶„ë¦¬
  - íŠ¹ì„± Xì™€ íƒ€ê²Ÿ yë¥¼ ì§€ì •í•˜ì„¸ìš”. 
  - `train_test_split()`ì„ ì‚¬ìš©í•˜ì—¬ ì „ì²´ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ì£¼ì„¸ìš”. 
    - í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ëŠ” 8:2ì˜ ë¹„ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
    - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `train_test_split()`ì„ ì‚¬ìš©í•˜ì—¬ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ì£¼ì„¸ìš”.
    - í›ˆë ¨ê³¼ ê²€ì¦ ë°ì´í„°ëŠ” 8:2ì˜ ë¹„ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.
    - `random_state=2`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- ìˆ˜ì¹˜í˜• íŠ¹ì„±ì— ëŒ€í•´ **`StandardScaler()`**ë¥¼ ì‚¬ìš©í•´ì„œ **í‘œì¤€í™”**ë¥¼ ìˆ˜í–‰í•˜ì„¸ìš”.
- ë²”ì£¼í˜• íŠ¹ì„±ì— ëŒ€í•´ `category_encoders` ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ **`OneHotEncoder()`**ë¥¼ ì‚¬ìš©í•´ì„œ ì›í•«ì¸ì½”ë”©ì„ ìˆ˜í–‰í•˜ì„¸ìš”.

In [137]:
df.head()

,Rooms,Type,Price,Method,Regionname,Propertycount,Distance,CouncilArea
0,3,h,"1,490,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
1,3,h,"1,220,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
2,3,h,"1,420,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
3,3,h,"1,515,000.00",S,Western Metropolitan,1543,7.50,Moonee Valley City Council
4,2,h,"670,000.00",S,Western Metropolitan,3464,10.40,Moonee Valley City Council

In [138]:
# ë°ì´í„° ë¶„ë¦¬

# í•¨ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

# X, y ì§€ì •
target = 'Price'
X = df.drop(target, axis =1)
y = df[target]

# í•™ìŠµìš©, ê²€ì¦ìš©, í‰ê°€ìš© ë¶„ë¦¬
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=2)

In [139]:
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso
import warnings
warnings.filterwarnings(action='ignore')

In [140]:
# ìˆ˜ì¹˜í˜• íŠ¹ì„± í‘œì¤€í™”
numeric_feats = X_train.dtypes[X_train.dtypes != "object"].index

scaler = StandardScaler()
X_train[numeric_feats] = scaler.fit_transform(X_train[numeric_feats])
X_val[numeric_feats] = scaler.transform(X_val[numeric_feats])
X_test[numeric_feats] = scaler.transform(X_test[numeric_feats])

##### **Q2. ë²”ì£¼í˜• íŠ¹ì„±ì— ì›í•«ì¸ì½”ë”©ì„ ìˆ˜í–‰í•œ í›„, ì—´(column) ê°œìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [141]:
# One-Hot encoding ë¶ˆëŸ¬ì˜¤ê³  ì„ ì–¸
from category_encoders import OneHotEncoder
ohe = OneHotEncoder()

# ì¸ì½”ë”© ìˆ˜í–‰
X_train_ohe = ohe.fit_transform(X_train)
X_test_ohe = ohe.transform(X_test)
X_val_ohe = ohe.transform(X_val)

In [142]:
(X_train_ohe.dtypes == 'object').sum()

0

In [143]:
X_train_ohe.shape[1]

53

## **Part 2. ì •ê·œí™” ëª¨ë¸**

- ê¸°ì¤€ëª¨ë¸
  - train setì— ëŒ€í•´ í‰ê· ì„ ì‚¬ìš©í•˜ì—¬ ê¸°ì¤€ëª¨ë¸ì„ ë§Œë“œì„¸ìš”.
  - $R^2$ì™€ MAE ê°’ì„ í™•ì¸í•˜ì„¸ìš”.
- **`ols`** vs **`ridge`** vs **`lasso`**
  -  ì¼ë°˜(ë‹¤ì¤‘) íšŒê·€ì™€ ì •ê·œí™” íšŒê·€ ëª¨ë¸ì„ ê°ê° ì•„ë˜ì™€ ê°™ì€ ì¡°ê±´ì—ì„œ ë§Œë“œì„¸ìš”. 
    - `LinearRegression()`
    - `Ridge()`
      - ì ì ˆí•œ alpha ê°’ì„ ì„¤ì •í•˜ì„¸ìš”.
    - `Lasso()`
      - ì ì ˆí•œ alpha ê°’ì„ ì„¤ì •í•˜ì„¸ìš”.
  - ê° ëª¨ë¸ì˜ $R^2$ì™€ MAE ê°’ì„ í™•ì¸í•˜ì„¸ìš”.
  - ê° ëª¨ë¸ì˜ íšŒê·€ê³„ìˆ˜ë¥¼ ì‹œê°í™”ë¡œ ë‚˜íƒ€ë‚´ ë³´ì„¸ìš”.

In [144]:
# ì†Œìˆ˜ì  ë³´ì—¬ì£¼ëŠ” ì •ë„ ì„¤ì •
pd.options.display.float_format = '{:,.2f}'.format

In [145]:
# ê¸°ì¤€ ëª¨ë¸ ì„¤ì •
base = [y_train.mean()]*len(y_train)

In [146]:
# ëª¨ë¸ í‰ê°€ ì§€ìˆ˜ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ ì„¤ì •
from sklearn.metrics import r2_score, mean_absolute_error

def scores(y_true, y_pred):
   mae = mean_absolute_error(y_true, y_pred)
   r2 = r2_score(y_true, y_pred)
   return mae, r2

In [147]:
# ê¸°ì¤€ ëª¨ë¸ mae, r2
base_mae, base_r2 = scores(y_train, base)
base_mae, base_r2

(420382.30671549414, 0.0)

In [148]:
from sklearn.model_selection import cross_val_score

# ì¼ë°˜ ë‹¤ì¤‘ ì„ í˜• íšŒê·€ ì„ ì–¸
ols = LinearRegression()

# ëª¨ë¸ í•™ìŠµ
ols.fit(X_train_ohe, y_train)
ols_pred_tr = ols.predict(X_train_ohe)
ols_pred_val = ols.predict(X_val_ohe)

# ì„±ëŠ¥ ë¹„êµ
ols_trainscore_mae, ols_trainscore_r2 = scores(y_train, ols_pred_tr)
ols_valscore_mae, ols_valscore_r2 = scores(y_val, ols_pred_val)
print('OLS train MAE :', ols_trainscore_mae)
print('OLS train R2:', ols_trainscore_r2 )
print('OLS val MAE :', ols_valscore_mae)
print('OLS val R2:', ols_valscore_r2)

OLS train MAE : 251432.71777720607
OLS train R2: 0.5787266918673125
OLS val MAE : 260252.4356901367
OLS val R2: 0.5409560596346819

### **2-1. Ridge Regression**

##### **Q3. Ridge íšŒê·€ ëª¨ë¸ì—ì„œ ì ˆëŒ“ê°’ì´ ê°€ì¥ í° íšŒê·€ê³„ìˆ˜ ê°’ì€ ì–¼ë§ˆì¸ê°€ìš”? (ì†Œìˆ˜ì  ì´í•˜ ë°˜ì˜¬ë¦¼)**

In [149]:
# ridge regression êµ¬í˜„

from sklearn.linear_model import RidgeCV, LassoCV

# Ridge íšŒê·€ ëª¨ë¸ ì„ ì–¸
alphas=[0.1, 1, 10 ,100]
ridge = RidgeCV(alphas=alphas, cv=5)

# Ridge ëª¨ë¸ í•™ìŠµ
ridge.fit(X_train_ohe, y_train)
ridge_pred_tr = ridge.predict(X_train_ohe)
ridge_pred_val = ridge.predict(X_val_ohe)

# ì„±ëŠ¥ ë¹„êµ
ridge_trainscore_mae, ridge_trainscore_r2 = scores(y_train, ridge_pred_tr)
ridge_valscore_mae, ridge_valscore_r2 = scores(y_val, ridge_pred_val)
print('Ridge train MAE :', ridge_trainscore_mae)
print('Ridge train R2:', ridge_trainscore_r2 )
print('Ridge val MAE :', ridge_valscore_mae)
print('Ridge val R2:', ridge_valscore_r2)

Ridge train MAE : 251399.5432471496
Ridge train R2: 0.5787175201337521
Ridge val MAE : 260237.28510519816
Ridge val R2: 0.5409041369051361

In [170]:
comparison = pd.DataFrame(index=['mae', 'r2'], columns=['Base', 'OLS train','OLS Validation'])
comparison['Base'] = scores(y_train, base)
comparison['OLS train'] = scores(y_train, ols_pred_tr)
comparison['OLS Validation'] = scores(y_val, ols_pred_val)
comparison

          Base  OLS train  OLS Validation
mae 420,382.31 251,432.72      260,252.44
r2        0.00       0.58            0.54

In [171]:
comparison['Ridge train'] = scores(y_train, ridge_pred_tr)
comparison['Ridge Validation'] = scores(y_val, ridge_pred_val)
comparison

          Base  OLS train  OLS Validation  Ridge train  Ridge Validation
mae 420,382.31 251,432.72      260,252.44   251,399.54        260,237.29
r2        0.00       0.58            0.54         0.58              0.54

In [154]:
print('\nbest alpha')
print(ridge.alpha_)

print('\níšŒê·€ê³„ìˆ˜')
print(pd.Series(ridge.coef_).nlargest(10))

best alpha
1.0

íšŒê·€ê³„ìˆ˜
32   494,146.80
30   460,170.82
20   451,668.68
50   390,015.93
42   296,846.29
52   240,757.88
0    234,784.80
1    227,777.42
49   226,681.80
24   184,787.65
dtype: float64

### **2-2. Lasso Regression**

###### **Q4. Lasso íšŒê·€ ëª¨ë¸ì—ì„œ íšŒê·€ê³„ìˆ˜ ê°’ì´ 0ìœ¼ë¡œ ìˆ˜ë ´í•œ íŠ¹ì„±ì€ ëª¨ë‘ ëª‡ ê°œì¸ê°€ìš”?**

In [153]:
# lasso regression êµ¬í˜„

# lasso íšŒê·€ ëª¨ë¸ ì„ ì–¸
lasso = LassoCV(alphas=alphas, cv=5)

# Ridge ëª¨ë¸ í•™ìŠµ
lasso.fit(X_train_ohe, y_train)
lasso_pred_tr = lasso.predict(X_train_ohe)
lasso_pred_val = lasso.predict(X_val_ohe)

# ì„±ëŠ¥ ë¹„êµ
lasso_trainscore_mae, lasso_trainscore_r2 = scores(y_train, lasso_pred_tr)
lasso_valscore_mae, lasso_valscore_r2 = scores(y_val, lasso_pred_val)
print('Lasso train MAE :', lasso_trainscore_mae)
print('Lasso train R2:', lasso_trainscore_r2 )
print('Lasso val MAE :', lasso_valscore_mae)
print('Lasso val R2:', lasso_valscore_r2)

Lasso train MAE : 251392.1858988851
Lasso train R2: 0.5787152349119042
Lasso val MAE : 260232.2133099389
Lasso val R2: 0.540908326259663

In [172]:
comparison['Lasso train'] = scores(y_train, lasso_pred_tr)
comparison['Lasso Validation'] = scores(y_val, lasso_pred_val)
comparison.T

                        mae   r2
Base             420,382.31 0.00
OLS train        251,432.72 0.58
OLS Validation   260,252.44 0.54
Ridge train      251,399.54 0.58
Ridge Validation 260,237.29 0.54
Lasso train      251,392.19 0.58
Lasso Validation 260,232.21 0.54

In [156]:
print('\nbest alpha')
print(lasso.alpha_)

print('\níšŒê·€ê³„ìˆ˜')
print(pd.Series(lasso.coef_).sort_values())

best alpha
10.0

íšŒê·€ê³„ìˆ˜
41   -385,696.41
44   -353,833.14
23   -347,155.91
47   -280,175.97
36   -240,999.72
18   -238,241.17
25   -220,826.52
19   -181,740.36
43   -166,760.08
26   -165,875.29
9    -153,195.30
34    -87,975.76
12    -86,713.82
3     -78,158.03
33    -66,505.13
40    -53,923.17
29    -40,957.49
22    -36,086.10
6     -33,039.46
35    -29,441.71
13    -10,906.76
10     -3,941.94
8      -2,812.39
37         -0.00
45          0.00
46         -0.00
51          0.00
5          -0.00
17        640.27
7      23,523.65
4      23,874.50
14     26,487.64
38     67,087.31
48     67,179.73
28     68,133.18
11     98,484.78
2     115,020.64
27    145,296.17
21    164,506.82
15    172,892.26
16    177,672.38
39    180,376.15
31    223,067.25
24    225,709.06
0     234,769.58
52    247,613.17
49    269,439.84
42    337,699.88
1     360,151.71
50    430,209.85
20    492,997.47
30    501,286.57
32    535,719.77
dtype: float64

### **2-3. ì¼ë°˜í™” ì„±ëŠ¥ ê²€ì¦**
-  í•™ìŠµí•œ ì •ê·œí™” ëª¨ë¸ ì¤‘ ê²€ì¦ ì„¸íŠ¸ì˜ **`MAE`**ê°€ ê°€ì¥ ë‚®ì€ ëª¨ë¸ì„ ì„ íƒí•˜ê³  ì¼ë°˜í™” ì„±ëŠ¥ì„ í™•ì¸í•˜ì„¸ìš”.
  - ì¼ë°˜í™” ì„±ëŠ¥ì€ **`Test set`**ë¥¼ í•œ ë²ˆë§Œ ì‚¬ìš©í•´ì„œ í™•ì¸í•©ë‹ˆë‹¤.
  - **$R^2$**ì™€ **MAE** scoreë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

In [173]:
comparison.drop(columns=['OLS Validation','OLS train', 'Ridge train', 'Lasso train'], inplace=True)

In [174]:
comparison.T.sort_values('mae')

                        mae   r2
Lasso Validation 260,232.21 0.54
Ridge Validation 260,237.29 0.54
Base             420,382.31 0.00

In [177]:
# maeê°€ ê°€ì¥ ë‚®ì€ ê·œì œ ëª¨ë¸ì€ Lasso íšŒê·€ ëª¨ë¸
lasso_pred_test = lasso.predict(X_test_ohe)
lasso_testscore_mae, lass_testscore_r2 = scores(y_test, lasso_pred_test)
print()


# ì„±ëŠ¥ ë¹„êµ
lasso_trainscore_mae, lasso_trainscore_r2 = scores(y_train, lasso_pred_tr)
lasso_valscore_mae, lasso_valscore_r2 = scores(y_val, lasso_pred_val)
comparison['Lasso test'] = scores(y_train, lasso_pred_tr)
display(comparison)

          Base  Ridge Validation  Lasso Validation  Lasso test
mae 420,382.31        260,237.29        260,232.21  251,392.19
r2        0.00              0.54              0.54        0.58

###### **Q5. ì •ê·œí™” ëª¨ë¸ ì¤‘ ê²€ì¦ ì„¸íŠ¸ì˜ MAEê°€ ê°€ì¥ ë‚®ì€ ëª¨ë¸ì˜ Test setì— ëŒ€í•œ MAE scoreë¥¼ ì œì¶œí•˜ì„¸ìš”. (ì†Œìˆ˜ì  ì´í•˜ ë°˜ì˜¬ë¦¼)**

ë‹µ : 260,232

##### **Q6. ìµœì¢…ëª¨ë¸ì€ ê¸°ì¤€ëª¨ë¸ë³´ë‹¤ ê°œì„ ëœ ëª¨ë¸ì¸ê°€ìš”? (test setì—ì„œì˜ $R^2$ì™€ MAEë¥¼ ê¸°ì¤€ëª¨ë¸ê³¼ ë¹„êµí•´ë³´ì„¸ìš”.)**
```
A. test setì—ì„œì˜ R2ê°€ ê¸°ì¤€ëª¨ë¸ë³´ë‹¤ ê°ì†Œí•œ ê²ƒì„ ë³´ì•„ ì„±ëŠ¥ì´ ë” ì¢‹ì€ ëª¨ë¸ì´ë‹¤.
B. test setì—ì„œì˜ MAEê°€ ê¸°ì¤€ëª¨ë¸ë³´ë‹¤ ì¦ê°€í•œ ê²ƒì„ ë³´ì•„ ì„±ëŠ¥ì´ ë” ì¢‹ì€ ëª¨ë¸ì´ë‹¤.
C. test setì—ì„œì˜ R2ê°€ ì¦ê°€í•˜ê³  MAEê°€ ê°ì†Œí•œ ê²ƒì„ ë³´ì•„ ì„±ëŠ¥ì´ ë” ì¢‹ì€ ëª¨ë¸ì´ë‹¤.
D. test setì—ì„œì˜ MAEì™€ R2ê°€ ê¸°ì¤€ëª¨ë¸ë³´ë‹¤ ì¦ê°€í•œ ê²ƒì„ ë³´ì•„ ì„±ëŠ¥ì´ ë” ì¢‹ì€ ëª¨ë¸ì´ë‹¤.
```
- ë‹µ : C. test setì—ì„œì˜ R2ê°€ ì¦ê°€í•˜ê³  MAEê°€ ê°ì†Œí•œ ê²ƒì„ ë³´ì•„ ì„±ëŠ¥ì´ ë” ì¢‹ì€ ëª¨ë¸ì´ë‹¤.

# ğŸ¥‡ **ë„ì „ ê³¼ì œ**

- RidgeCVì™€ LassoCVë¥¼ ì‚¬ìš©í•´ì„œ ìµœì ì˜ ì•ŒíŒŒê°’ì„ ì°¾ëŠ” ê³¼ì •ì„ ìˆ˜í–‰í•˜ê³  ì„±ëŠ¥ì„ ê°œì„ í•´ë³´ì„¸ìš”.

- ElasticNet ì •ê·œí™” ëª¨ë¸ì— ëŒ€í•´ì„œ ì¶”ê°€ë¡œ í•™ìŠµí•´ë³´ì„¸ìš”. 

- Lasso ì™€ Ridgeì— ì‚¬ìš©ë˜ëŠ” L1, L2 ì •ê·œí™”ì— ëŒ€í•´ ì•Œì•„ë³´ê³  ë…¼ì˜í•´ë³´ì„¸ìš”.