<a href="https://colab.research.google.com/github/nachochipzz/Project-Submission/blob/main/n213-regularized-regression/n213a_regularized_regression_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 3*

# üìù Assignment
---

# üå± **Í∏∞Î≥∏ Í≥ºÏ†ú**

Ïù¥Î≤àÏóêÎäî ÎÖ∏Ìä∏ÏóêÏÑú Îã§Î£®ÏßÄ ÏïäÏùÄ ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞Ïù∏ [Melbourne Housing Market](https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market#:~:text=calendar_view_week-,MELBOURNE_HOUSE_PRICES_LESS,-.csv)ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï†ïÍ∑úÌôîÎ•º Ïó∞ÏäµÌï¥ Î≥¥Í≤†ÏäµÎãàÎã§.

In [130]:
!pip install category_encoders
!pip install scikit-learn==1.1.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.9/dist-packages (2.6.0)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.1.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn==1.1.3 in /usr/local/lib/python3.9/dist-packages (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (1.22.4)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn==1.1.3) (3.1.0)

## **Part 1. Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ**

### **1-1. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ Î∞è Ï†ÑÏ≤òÎ¶¨**

- Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
- Îã§Ïùå Ìï≠Î™©ÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
  - column
    - ÎÇ†Ïßú ÌäπÏÑ±
    - Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ïπ¥ÎîîÎÑêÎ¶¨Ìã∞Í∞Ä 50Ïù¥ ÎÑòÎäî ÌäπÏÑ±
  - row
    - Price Î≥ÄÏàò Í∏∞Ï§Ä Í≤∞Ï∏°Ïπò ÏÉòÌîå
    - Ï§ëÎ≥µÎêòÎäî ÏÉòÌîå

#### **Q1. Îã§Ïùå column Ï§ë Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Í∞Ä ÏïÑÎãå Í≤ÉÏùÑ Í≥†Î•¥ÏÑ∏Ïöî.**
```
A. Address 
B. Rooms 
C. SellerG 
D. Postcode 
E. CouncilArea 
```
- Îãµ : B. Rooms (ÏàòÏπòÌòï ÏûêÎ£å)

In [131]:
import pandas as pd

# get data
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,"1,490,000.00",S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.00,Yarra City Council
1,Abbotsford,59A Turner St,3,h,"1,220,000.00",S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.00,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,"1,420,000.00",S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.00,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,"1,515,000.00",S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.50,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,"670,000.00",S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.40,Moonee Valley City Council

In [132]:
# ÎÇ†Ïßú ÌäπÏÑ± drop
df.drop(columns='Date', inplace=True)

In [133]:
# Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ Ï§ë Ïπ¥ÎîîÎÑêÎ¶¨Ìã∞Í∞Ä 50Ïù¥ ÎÑòÎäî ÌäπÏÑ± ÌôïÏù∏
df.nunique() #Suburb, Address, SellerG, Postcode ÏπºÎüº drop

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3417
Method               9
SellerG            476
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [134]:
# Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ Ï§ë Ïπ¥ÎîîÎÑêÎ¶¨Ìã∞Í∞Ä 50Ïù¥ ÎÑòÎäî ÌäπÏÑ± drop
df.drop(columns=['Suburb', 'Address', 'SellerG', 'Postcode'], inplace=True)
df.head()

,Rooms,Type,Price,Method,Regionname,Propertycount,Distance,CouncilArea
0,3,h,"1,490,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
1,3,h,"1,220,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
2,3,h,"1,420,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
3,3,h,"1,515,000.00",S,Western Metropolitan,1543,7.50,Moonee Valley City Council
4,2,h,"670,000.00",S,Western Metropolitan,3464,10.40,Moonee Valley City Council

In [135]:
# Price Î≥ÄÏàò Í∏∞Ï§Ä Í≤∞Ï∏°Ïπò ÏÉòÌîå drop
df.dropna(subset=['Price'], inplace=True)

In [136]:
# Ï§ëÎ≥µÎêòÎäî ÏÉòÌîå drop
df.drop_duplicates(inplace=True)

### **1-2. Scaling & Encoding**
- Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨
  - ÌäπÏÑ± XÏôÄ ÌÉÄÍ≤ü yÎ•º ÏßÄÏ†ïÌïòÏÑ∏Ïöî. 
  - `train_test_split()`ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥Ï£ºÏÑ∏Ïöî. 
    - ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Îäî 8:2Ïùò ÎπÑÎ°ú ÎÇòÎàïÎãàÎã§.
    - `random_state=2`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§. 
  - `train_test_split()`ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥Ï£ºÏÑ∏Ïöî.
    - ÌõàÎ†®Í≥º Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞Îäî 8:2Ïùò ÎπÑÎ°ú ÎÇòÎàïÎãàÎã§.
    - `random_state=2`Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
- ÏàòÏπòÌòï ÌäπÏÑ±Ïóê ÎåÄÌï¥ **`StandardScaler()`**Î•º ÏÇ¨Ïö©Ìï¥ÏÑú **ÌëúÏ§ÄÌôî**Î•º ÏàòÌñâÌïòÏÑ∏Ïöî.
- Î≤îÏ£ºÌòï ÌäπÏÑ±Ïóê ÎåÄÌï¥ `category_encoders` ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò **`OneHotEncoder()`**Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÏõêÌï´Ïù∏ÏΩîÎî©ÏùÑ ÏàòÌñâÌïòÏÑ∏Ïöî.

In [137]:
df.head()

,Rooms,Type,Price,Method,Regionname,Propertycount,Distance,CouncilArea
0,3,h,"1,490,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
1,3,h,"1,220,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
2,3,h,"1,420,000.00",S,Northern Metropolitan,4019,3.00,Yarra City Council
3,3,h,"1,515,000.00",S,Western Metropolitan,1543,7.50,Moonee Valley City Council
4,2,h,"670,000.00",S,Western Metropolitan,3464,10.40,Moonee Valley City Council

In [138]:
# Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨

# Ìï®Ïàò Î∂àÎü¨Ïò§Í∏∞
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

# X, y ÏßÄÏ†ï
target = 'Price'
X = df.drop(target, axis =1)
y = df[target]

# ÌïôÏäµÏö©, Í≤ÄÏ¶ùÏö©, ÌèâÍ∞ÄÏö© Î∂ÑÎ¶¨
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=2)

In [139]:
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso
import warnings
warnings.filterwarnings(action='ignore')

In [140]:
# ÏàòÏπòÌòï ÌäπÏÑ± ÌëúÏ§ÄÌôî
numeric_feats = X_train.dtypes[X_train.dtypes != "object"].index

scaler = StandardScaler()
X_train[numeric_feats] = scaler.fit_transform(X_train[numeric_feats])
X_val[numeric_feats] = scaler.transform(X_val[numeric_feats])
X_test[numeric_feats] = scaler.transform(X_test[numeric_feats])

##### **Q2. Î≤îÏ£ºÌòï ÌäπÏÑ±Ïóê ÏõêÌï´Ïù∏ÏΩîÎî©ÏùÑ ÏàòÌñâÌïú ÌõÑ, Ïó¥(column) Í∞úÏàòÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [141]:
# One-Hot encoding Î∂àÎü¨Ïò§Í≥† ÏÑ†Ïñ∏
from category_encoders import OneHotEncoder
ohe = OneHotEncoder()

# Ïù∏ÏΩîÎî© ÏàòÌñâ
X_train_ohe = ohe.fit_transform(X_train)
X_test_ohe = ohe.transform(X_test)
X_val_ohe = ohe.transform(X_val)

In [142]:
(X_train_ohe.dtypes == 'object').sum()

0

In [143]:
X_train_ohe.shape[1]

53

## **Part 2. Ï†ïÍ∑úÌôî Î™®Îç∏**

- Í∏∞Ï§ÄÎ™®Îç∏
  - train setÏóê ÎåÄÌï¥ ÌèâÍ∑†ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÎßåÎìúÏÑ∏Ïöî.
  - $R^2$ÏôÄ MAE Í∞íÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **`ols`** vs **`ridge`** vs **`lasso`**
  -  ÏùºÎ∞ò(Îã§Ï§ë) ÌöåÍ∑ÄÏôÄ Ï†ïÍ∑úÌôî ÌöåÍ∑Ä Î™®Îç∏ÏùÑ Í∞ÅÍ∞Å ÏïÑÎûòÏôÄ Í∞ôÏùÄ Ï°∞Í±¥ÏóêÏÑú ÎßåÎìúÏÑ∏Ïöî. 
    - `LinearRegression()`
    - `Ridge()`
      - Ï†ÅÏ†àÌïú alpha Í∞íÏùÑ ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
    - `Lasso()`
      - Ï†ÅÏ†àÌïú alpha Í∞íÏùÑ ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
  - Í∞Å Î™®Îç∏Ïùò $R^2$ÏôÄ MAE Í∞íÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
  - Í∞Å Î™®Îç∏Ïùò ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º ÏãúÍ∞ÅÌôîÎ°ú ÎÇòÌÉÄÎÇ¥ Î≥¥ÏÑ∏Ïöî.

In [144]:
# ÏÜåÏàòÏ†ê Î≥¥Ïó¨Ï£ºÎäî Ï†ïÎèÑ ÏÑ§Ï†ï
pd.options.display.float_format = '{:,.2f}'.format

In [145]:
# Í∏∞Ï§Ä Î™®Îç∏ ÏÑ§Ï†ï
base = [y_train.mean()]*len(y_train)

In [146]:
# Î™®Îç∏ ÌèâÍ∞Ä ÏßÄÏàò Î∞òÌôòÌïòÎäî Ìï®Ïàò ÏÑ§Ï†ï
from sklearn.metrics import r2_score, mean_absolute_error

def scores(y_true, y_pred):
   mae = mean_absolute_error(y_true, y_pred)
   r2 = r2_score(y_true, y_pred)
   return mae, r2

In [147]:
# Í∏∞Ï§Ä Î™®Îç∏ mae, r2
base_mae, base_r2 = scores(y_train, base)
base_mae, base_r2

(420382.30671549414, 0.0)

In [148]:
from sklearn.model_selection import cross_val_score

# ÏùºÎ∞ò Îã§Ï§ë ÏÑ†Ìòï ÌöåÍ∑Ä ÏÑ†Ïñ∏
ols = LinearRegression()

# Î™®Îç∏ ÌïôÏäµ
ols.fit(X_train_ohe, y_train)
ols_pred_tr = ols.predict(X_train_ohe)
ols_pred_val = ols.predict(X_val_ohe)

# ÏÑ±Îä• ÎπÑÍµê
ols_trainscore_mae, ols_trainscore_r2 = scores(y_train, ols_pred_tr)
ols_valscore_mae, ols_valscore_r2 = scores(y_val, ols_pred_val)
print('OLS train MAE :', ols_trainscore_mae)
print('OLS train R2:', ols_trainscore_r2 )
print('OLS val MAE :', ols_valscore_mae)
print('OLS val R2:', ols_valscore_r2)

OLS train MAE : 251432.71777720607
OLS train R2: 0.5787266918673125
OLS val MAE : 260252.4356901367
OLS val R2: 0.5409560596346819

### **2-1. Ridge Regression**

##### **Q3. Ridge ÌöåÍ∑Ä Î™®Îç∏ÏóêÏÑú Ï†àÎåìÍ∞íÏù¥ Í∞ÄÏû• ÌÅ∞ ÌöåÍ∑ÄÍ≥ÑÏàò Í∞íÏùÄ ÏñºÎßàÏù∏Í∞ÄÏöî? (ÏÜåÏàòÏ†ê Ïù¥Ìïò Î∞òÏò¨Î¶º)**

In [149]:
# ridge regression Íµ¨ÌòÑ

from sklearn.linear_model import RidgeCV, LassoCV

# Ridge ÌöåÍ∑Ä Î™®Îç∏ ÏÑ†Ïñ∏
alphas=[0.1, 1, 10 ,100]
ridge = RidgeCV(alphas=alphas, cv=5)

# Ridge Î™®Îç∏ ÌïôÏäµ
ridge.fit(X_train_ohe, y_train)
ridge_pred_tr = ridge.predict(X_train_ohe)
ridge_pred_val = ridge.predict(X_val_ohe)

# ÏÑ±Îä• ÎπÑÍµê
ridge_trainscore_mae, ridge_trainscore_r2 = scores(y_train, ridge_pred_tr)
ridge_valscore_mae, ridge_valscore_r2 = scores(y_val, ridge_pred_val)
print('Ridge train MAE :', ridge_trainscore_mae)
print('Ridge train R2:', ridge_trainscore_r2 )
print('Ridge val MAE :', ridge_valscore_mae)
print('Ridge val R2:', ridge_valscore_r2)

Ridge train MAE : 251399.5432471496
Ridge train R2: 0.5787175201337521
Ridge val MAE : 260237.28510519816
Ridge val R2: 0.5409041369051361

In [170]:
comparison = pd.DataFrame(index=['mae', 'r2'], columns=['Base', 'OLS train','OLS Validation'])
comparison['Base'] = scores(y_train, base)
comparison['OLS train'] = scores(y_train, ols_pred_tr)
comparison['OLS Validation'] = scores(y_val, ols_pred_val)
comparison

          Base  OLS train  OLS Validation
mae 420,382.31 251,432.72      260,252.44
r2        0.00       0.58            0.54

In [171]:
comparison['Ridge train'] = scores(y_train, ridge_pred_tr)
comparison['Ridge Validation'] = scores(y_val, ridge_pred_val)
comparison

          Base  OLS train  OLS Validation  Ridge train  Ridge Validation
mae 420,382.31 251,432.72      260,252.44   251,399.54        260,237.29
r2        0.00       0.58            0.54         0.58              0.54

In [154]:
print('\nbest alpha')
print(ridge.alpha_)

print('\nÌöåÍ∑ÄÍ≥ÑÏàò')
print(pd.Series(ridge.coef_).nlargest(10))

best alpha
1.0

ÌöåÍ∑ÄÍ≥ÑÏàò
32   494,146.80
30   460,170.82
20   451,668.68
50   390,015.93
42   296,846.29
52   240,757.88
0    234,784.80
1    227,777.42
49   226,681.80
24   184,787.65
dtype: float64

### **2-2. Lasso Regression**

###### **Q4. Lasso ÌöåÍ∑Ä Î™®Îç∏ÏóêÏÑú ÌöåÍ∑ÄÍ≥ÑÏàò Í∞íÏù¥ 0ÏúºÎ°ú ÏàòÎ†¥Ìïú ÌäπÏÑ±ÏùÄ Î™®Îëê Î™á Í∞úÏù∏Í∞ÄÏöî?**

In [153]:
# lasso regression Íµ¨ÌòÑ

# lasso ÌöåÍ∑Ä Î™®Îç∏ ÏÑ†Ïñ∏
lasso = LassoCV(alphas=alphas, cv=5)

# Ridge Î™®Îç∏ ÌïôÏäµ
lasso.fit(X_train_ohe, y_train)
lasso_pred_tr = lasso.predict(X_train_ohe)
lasso_pred_val = lasso.predict(X_val_ohe)

# ÏÑ±Îä• ÎπÑÍµê
lasso_trainscore_mae, lasso_trainscore_r2 = scores(y_train, lasso_pred_tr)
lasso_valscore_mae, lasso_valscore_r2 = scores(y_val, lasso_pred_val)
print('Lasso train MAE :', lasso_trainscore_mae)
print('Lasso train R2:', lasso_trainscore_r2 )
print('Lasso val MAE :', lasso_valscore_mae)
print('Lasso val R2:', lasso_valscore_r2)

Lasso train MAE : 251392.1858988851
Lasso train R2: 0.5787152349119042
Lasso val MAE : 260232.2133099389
Lasso val R2: 0.540908326259663

In [172]:
comparison['Lasso train'] = scores(y_train, lasso_pred_tr)
comparison['Lasso Validation'] = scores(y_val, lasso_pred_val)
comparison.T

                        mae   r2
Base             420,382.31 0.00
OLS train        251,432.72 0.58
OLS Validation   260,252.44 0.54
Ridge train      251,399.54 0.58
Ridge Validation 260,237.29 0.54
Lasso train      251,392.19 0.58
Lasso Validation 260,232.21 0.54

In [156]:
print('\nbest alpha')
print(lasso.alpha_)

print('\nÌöåÍ∑ÄÍ≥ÑÏàò')
print(pd.Series(lasso.coef_).sort_values())

best alpha
10.0

ÌöåÍ∑ÄÍ≥ÑÏàò
41   -385,696.41
44   -353,833.14
23   -347,155.91
47   -280,175.97
36   -240,999.72
18   -238,241.17
25   -220,826.52
19   -181,740.36
43   -166,760.08
26   -165,875.29
9    -153,195.30
34    -87,975.76
12    -86,713.82
3     -78,158.03
33    -66,505.13
40    -53,923.17
29    -40,957.49
22    -36,086.10
6     -33,039.46
35    -29,441.71
13    -10,906.76
10     -3,941.94
8      -2,812.39
37         -0.00
45          0.00
46         -0.00
51          0.00
5          -0.00
17        640.27
7      23,523.65
4      23,874.50
14     26,487.64
38     67,087.31
48     67,179.73
28     68,133.18
11     98,484.78
2     115,020.64
27    145,296.17
21    164,506.82
15    172,892.26
16    177,672.38
39    180,376.15
31    223,067.25
24    225,709.06
0     234,769.58
52    247,613.17
49    269,439.84
42    337,699.88
1     360,151.71
50    430,209.85
20    492,997.47
30    501,286.57
32    535,719.77
dtype: float64

### **2-3. ÏùºÎ∞òÌôî ÏÑ±Îä• Í≤ÄÏ¶ù**
-  ÌïôÏäµÌïú Ï†ïÍ∑úÌôî Î™®Îç∏ Ï§ë Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò **`MAE`**Í∞Ä Í∞ÄÏû• ÎÇÆÏùÄ Î™®Îç∏ÏùÑ ÏÑ†ÌÉùÌïòÍ≥† ÏùºÎ∞òÌôî ÏÑ±Îä•ÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
  - ÏùºÎ∞òÌôî ÏÑ±Îä•ÏùÄ **`Test set`**Î•º Ìïú Î≤àÎßå ÏÇ¨Ïö©Ìï¥ÏÑú ÌôïÏù∏Ìï©ÎãàÎã§.
  - **$R^2$**ÏôÄ **MAE** scoreÎ•º ÌôïÏù∏Ìï©ÎãàÎã§.

In [173]:
comparison.drop(columns=['OLS Validation','OLS train', 'Ridge train', 'Lasso train'], inplace=True)

In [174]:
comparison.T.sort_values('mae')

                        mae   r2
Lasso Validation 260,232.21 0.54
Ridge Validation 260,237.29 0.54
Base             420,382.31 0.00

In [177]:
# maeÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ Í∑úÏ†ú Î™®Îç∏ÏùÄ Lasso ÌöåÍ∑Ä Î™®Îç∏
lasso_pred_test = lasso.predict(X_test_ohe)
lasso_testscore_mae, lass_testscore_r2 = scores(y_test, lasso_pred_test)
print()


# ÏÑ±Îä• ÎπÑÍµê
lasso_trainscore_mae, lasso_trainscore_r2 = scores(y_train, lasso_pred_tr)
lasso_valscore_mae, lasso_valscore_r2 = scores(y_val, lasso_pred_val)
comparison['Lasso test'] = scores(y_train, lasso_pred_tr)
display(comparison)

          Base  Ridge Validation  Lasso Validation  Lasso test
mae 420,382.31        260,237.29        260,232.21  251,392.19
r2        0.00              0.54              0.54        0.58

###### **Q5. Ï†ïÍ∑úÌôî Î™®Îç∏ Ï§ë Í≤ÄÏ¶ù ÏÑ∏Ìä∏Ïùò MAEÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ Î™®Îç∏Ïùò Test setÏóê ÎåÄÌïú MAE scoreÎ•º Ï†úÏ∂úÌïòÏÑ∏Ïöî. (ÏÜåÏàòÏ†ê Ïù¥Ìïò Î∞òÏò¨Î¶º)**

Îãµ : 260,232

##### **Q6. ÏµúÏ¢ÖÎ™®Îç∏ÏùÄ Í∏∞Ï§ÄÎ™®Îç∏Î≥¥Îã§ Í∞úÏÑ†Îêú Î™®Îç∏Ïù∏Í∞ÄÏöî? (test setÏóêÏÑúÏùò $R^2$ÏôÄ MAEÎ•º Í∏∞Ï§ÄÎ™®Îç∏Í≥º ÎπÑÍµêÌï¥Î≥¥ÏÑ∏Ïöî.)**
```
A. test setÏóêÏÑúÏùò R2Í∞Ä Í∏∞Ï§ÄÎ™®Îç∏Î≥¥Îã§ Í∞êÏÜåÌïú Í≤ÉÏùÑ Î≥¥ÏïÑ ÏÑ±Îä•Ïù¥ Îçî Ï¢ãÏùÄ Î™®Îç∏Ïù¥Îã§.
B. test setÏóêÏÑúÏùò MAEÍ∞Ä Í∏∞Ï§ÄÎ™®Îç∏Î≥¥Îã§ Ï¶ùÍ∞ÄÌïú Í≤ÉÏùÑ Î≥¥ÏïÑ ÏÑ±Îä•Ïù¥ Îçî Ï¢ãÏùÄ Î™®Îç∏Ïù¥Îã§.
C. test setÏóêÏÑúÏùò R2Í∞Ä Ï¶ùÍ∞ÄÌïòÍ≥† MAEÍ∞Ä Í∞êÏÜåÌïú Í≤ÉÏùÑ Î≥¥ÏïÑ ÏÑ±Îä•Ïù¥ Îçî Ï¢ãÏùÄ Î™®Îç∏Ïù¥Îã§.
D. test setÏóêÏÑúÏùò MAEÏôÄ R2Í∞Ä Í∏∞Ï§ÄÎ™®Îç∏Î≥¥Îã§ Ï¶ùÍ∞ÄÌïú Í≤ÉÏùÑ Î≥¥ÏïÑ ÏÑ±Îä•Ïù¥ Îçî Ï¢ãÏùÄ Î™®Îç∏Ïù¥Îã§.
```
- Îãµ : C. test setÏóêÏÑúÏùò R2Í∞Ä Ï¶ùÍ∞ÄÌïòÍ≥† MAEÍ∞Ä Í∞êÏÜåÌïú Í≤ÉÏùÑ Î≥¥ÏïÑ ÏÑ±Îä•Ïù¥ Îçî Ï¢ãÏùÄ Î™®Îç∏Ïù¥Îã§.

# ü•á **ÎèÑÏ†Ñ Í≥ºÏ†ú**

- RidgeCVÏôÄ LassoCVÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÏµúÏ†ÅÏùò ÏïåÌååÍ∞íÏùÑ Ï∞æÎäî Í≥ºÏ†ïÏùÑ ÏàòÌñâÌïòÍ≥† ÏÑ±Îä•ÏùÑ Í∞úÏÑ†Ìï¥Î≥¥ÏÑ∏Ïöî.

- ElasticNet Ï†ïÍ∑úÌôî Î™®Îç∏Ïóê ÎåÄÌï¥ÏÑú Ï∂îÍ∞ÄÎ°ú ÌïôÏäµÌï¥Î≥¥ÏÑ∏Ïöî. 

- Lasso ÏôÄ RidgeÏóê ÏÇ¨Ïö©ÎêòÎäî L1, L2 Ï†ïÍ∑úÌôîÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í≥† ÎÖºÏùòÌï¥Î≥¥ÏÑ∏Ïöî.